body {
    margin: 0;
    padding: 0;
}

/* --------------------------------------- Partie - header --------------------------------------- */
.header-container {
  display: flex;
  justify-content: center; 
  background-color:rgba(251, 220, 185, 1);
  font-family: Arial, sans-serif;
}

.site-header  {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  /* haut | droit | bas | gauche */
  padding: 0.1rem 5rem 0.1rem 3rem;
}

/* Logo */
.logo img { 
  height: 5em; 
  padding-right: 5rem;
}

/* Menu de navigation */
.site-header nav {
  flex-grow: 1;
  text-align: left;
}


.site-header nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
}

.site-header nav a[name="catégorie"] {
  margin: 0 2rem;
}

.site-header nav a[name="catégorie"]:hover, .connexion a:hover{
  text-decoration: underline;
}

.site-header .connexion {
  display: flex;  
  align-items: center;  
  gap: 0.5rem; 
}

.site-header .connexion a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 0 5rem;
  font-size: 1.4em;
}   

.site-header .logo_connexion img {
  height: 2rem; /* Ajustez la taille selon votre besoin */
  width: auto;
  padding-left: 15rem;
}

/* --------------------------------------- Partie - corp du texte --------------------------------------- */


main{
  padding : 6rem;
  width : 50rem;
  margin: auto;
}

p{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    size: 1rem;
}


/* --------------------------------------- Partie footer --------------------------------------- */

.site-footer {
  background-color: rgba(217, 217, 217, 1);
  align-self: stretch;
  display: flex;
  padding: 0.5rem auto;;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;  
}

.site-footer a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.footer-logo {
  height: 3rem;
  padding-right: 5rem;
  
}

.footer-text a {
  text-decoration: none;
  color: #000;
  
}

.footer-text a:first-of-type {
  margin-right: 0.625rem;
}

.footer-text a[name="ud_txt"]:hover{
  text-decoration : underline;
  font-weight: bold;
}