* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family:
      Roboto,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    background-color: rgba(255, 251, 251, 1);
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
  
 
  .site-header {
    background-color: rgba(251, 220, 185, 1);
    align-self: stretch;
    display: flex;
    width: 100%;
    padding: 0.563rem 5rem 1.125rem;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    aspect-ratio: 1.07;
    object-fit: contain;
    object-position: center;
    width: 8.5rem;
    margin-left: 1.563rem;
    max-width: 100%;
  }

  
 /* --------------------------------------- Partie footer --------------------------------------- */

.site-footer {
    background-color: rgba(217, 217, 217, 1);
    align-self: stretch;
    display: flex;
    padding: 0.5rem auto;;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;  
    }
    
    .site-footer a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    }
    
    .footer-logo {
    height: 3rem;
    padding-right: 5rem;
    
    }
    
    .footer-text a {
    text-decoration: none;
    color: #000;
    
    }
    
    .footer-text a:first-of-type {
    margin-right: 0.625rem;
    }
    
    .footer-text a[name="ud_txt"]:hover{
    text-decoration : underline;
    font-weight: bold;
    }