
body {
    margin: 0;
    padding: 0;
}

/* Footer */
footer {
    background-color: #D9D9D9;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}


p{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    size: 1rem;
}

header {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(251, 220, 185, 1);
    /* haut | droit | bas | gauche */
    padding: 0.1rem 5rem 0.1rem 3rem;
}


/* Logo */
.logo img { 
    height: 5em; /* Ajuste la taille du logo */
    padding-right: 5rem;
}

/* Menu de navigation */
nav {
    flex-grow: 1;
    text-align: left;
}


nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
}

nav a[name="catégorie"] {
    margin: 0 2rem;
}

nav a[name="catégorie"]:hover, .connexion a:hover{
    text-decoration: underline;
}

.connexion {
    display: flex;  
    align-items: center;  
    gap: 0.5rem; 
}

.connexion a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 0 5rem;
    font-size: 1.4em;
}   

.logo_connexion img {
    height: 2rem; /* Ajustez la taille selon votre besoin */
    width: auto;
}